<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>categories</title>
    <link rel="stylesheet" href="/public/css/categories.css" />
    <link rel="icon" href="/public/image/세종로고-removebg-preview.png" />
  </head>
  <body>
    <div id="navbar" class="section__navbar">
      <form method="GET">
        <button
          class="korea"
          name="category"
          value="한식"
          onclick="location.href = '/food/categories'"
          type="submit"
        >
          <div class="navbar__img">
            <img src=/public/image/korea.png alt="한식" width=100% height=100%/>
          </div>
          <h2 class="navbar__title">한식</h2>
        </button>
        <button
          name="category"
          value="중식"
          onclick="location.href = '/food/categories'"
          class="china"
        >
          <div class="navbar__img">
            <img src=/public/image/china.png alt="중식" width=100% height=100%/>
          </div>
          <h2 class="china__title">중식</h2>
        </button>
        <button
          class="japan"
          name="category"
          value="일식"
          onclick="location.href = '/food/categories'"
        >
          <div class="navbar__img">
            <img src=/public/image/japan.png alt="일식" width=100% height=100%/>
          </div>
          <h2 class="navbar__title">일식</h2>
        </button>
        <button
          class="western"
          name="category"
          value="양식"
          onclick="location.href = '/food/categories'"
        >
          <div class="navbar__img">
            <img src=/public/image/western.png alt="양식" width=100%
            height=100%/>
          </div>
          <h2 class="navbar__title">양식</h2>
        </button>
        <button
          class="chicken"
          name="category"
          value="치킨"
          onclick="location.href = '/food/categories'"
        >
          <div class="navbar__img">
            <img src=/public/image/chicken.png alt="치킨" width=100%
            height=100%/>
          </div>
          <h2 class="navbar__title">치킨</h2>
        </button>
        <button
          class="burger"
          name="category"
          value="버거"
          onclick="location.href = '/food/categories'"
        >
          <div class="navbar__img">
            <img src=/public/image/burger.png alt="버거" width=100%
            height=100%/>
          </div>
          <h2 class="navbar__title">버거</h2>
        </button>
        <button
          class="pizza"
          name="category"
          value="피자"
          onclick="location.href = '/food/categories'"
        >
          <div class="navbar__img">
            <img src=/public/image/pizza.png alt="피자" width=100% height=100%/>
          </div>
          <h2 class="navbar__title">피자</h2>
        </button>
        <button
          class="flour"
          name="category"
          value="분식"
          onclick="location.href = '/food/categories'"
        >
          <div class="navbar__img">
            <img src=/public/image/flour.png alt="분식" width=100% height=100%/>
          </div>
          <h2 class="navbar__title">분식</h2>
        </button>
        <button
          class="dessert"
          name="category"
          value="디저트"
          onclick="location.href = '/food/categories'"
        >
          <div class="navbar__img">
            <img src=/public/image/dessert.png alt="디저트" width=100%
            height=100%/>
          </div>
          <h2 class="navbar__title">디저트</h2>
        </button>
      </form>
    </div>
    <div id="main">
      <div id="line" class="section__line">
        {% for item in foods %}
        <div class="food__list">
          <div class="food__img">
            <img
              src="/{{[item.foodUrl]}}"
              alt="{{[item.title]}}"
              width="100%"
              height="100%"
            />
          </div>
          <div class="food__info">
            <a href="/food/{{[item.id]}}" id="title__link">
              <h3 class="food__title">{{[item.title]}}</h3>
            </a>
            <h4 class="food__menu">{{[item.description]}}</h4>
            {% for hashtag in item.hashtags %}
            <h5 class="food__hashtag">{{[hashtag]}}</h5>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div id="map" class="section__map">
        <div id="view__map" style="width:500px;height:400px;" ></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=10a6b95ea1da145104015187348cefdc"></script>
        <script>
          var container = document.getElementById('map');
          var options = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
          };
          
          var map = new kakao.maps.Map(container, options);
        </script>
      </div>
    </div>
    <div class="homekey">
      <a href="../main" id="home__link"><p>home</p></a>
    </div>
    
  </body>
</html>
