<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="/src/public/css/index_style.css">
    <link rel="icon" href="/src/public/image/세종로고-removebg-preview.png">
    <style>
      body{
          text-align: center;
      }
      
  </style>
  </head>

  <body>
    <nav>
        <h2>걸어서 맛집 속으로</h2>
        <p class="subtitle">세종대 학생만을 위한 맛집 지도</p>
    </nav>

    <button class="main">
        맛집 투어 시작하기
        <a href="main.html"></a>
    </button>
  </body>
</html>
