<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>join</title>
  </head>
  <body>
    <header>
      <span>누구보다 빠르게 맛집투어 시작하기</span>
    </header>

    <main>
      {% if errorMessage %}
      <span>{{[errorMessage]}}</span>
      {% endif %}
      <form method="POST">
        <input
          placeholder="아이디 입력"
          ,
          type="text"
          ,
          name="username"
          ,
          required
        />
        <input
          placeholder="비밀번호 입력"
          ,
          type="text"
          ,
          name="password"
          ,
          required
        />
        <input
          placeholder="비밀번호 확인"
          ,
          type="text"
          ,
          name="password2"
          ,
          required
        />
        <input placeholder="가입질문" , type="text" , name="check" , required />
        <input type="submit" value="Join" />
      </form>
    </main>

    <footer>
      <div>
        <span>Already have an account?</span>
        <a href="/login">Log in now</a>
      </div>
    </footer>
  </body>
</html>
