<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/map.css" />
    <link rel="icon" href="/public/image/세종로고-removebg-preview.png" />
    <title>map</title>
    <!-- 마커 디자인 -->
    <style>
      .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
      .wrap * {padding: 0;margin: 0;}
      .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
      .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
      .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
      .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
      .info .close:hover {cursor: pointer;}
      .info .body {position: relative;overflow: hidden;}
      .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
      .desc .workingHour {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
      .desc .issues {font-size: 11px;color: #888;margin-top: -2px;}
      .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
      .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
      .info .link {color: #5085BB;}
  </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav id="navbar">
      <!-- 로고/메인 -->
      <div class="navbar__logo">
        <img class="sejong-logo" src="/public/image/하얀세종대로고.png" width="30" height="30" />
        <a href="/main">걸어서 맛집 속으로</a>
      </div>
      <!-- 메뉴리스트 -->
      <div class="navbar__menu">
        <ul class="navbar__menu">
          <li class="navbar__menu__item"><a href="/food/categories">종류별 맛집들</a></li>
          <li class="navbar__menu__item"><a href="/food/map">가까운 맛집들</a></li>
          <li class="navbar__menu__item"><a href="/food/recommend">오늘의 메뉴 추천</a></li>
        </ul>
      </div>
    </nav>

    <!-- 카카오맵 api 가져오기 -->
    <div id="map__kakao" style="width:100%;height:100vh;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7b28998a2dab131f76a6134f378d5598"></script>

    <!-- 지도 및 마커 띄우기  -->
    <script>
      var container = document.getElementById("map__kakao");
      var options = {
        center: new kakao.maps.LatLng(37.549037, 127.075107),
        level: 3
      };
  
      var map__kakao = new kakao.maps.Map(container, options);  //지도 띄움

      //마커에 담을 contents 리스트
      let contents = [
      '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            시홍쓰' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/시홍쓰.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">월~금 | 11:30 ~ 21:00</div>' + 
            '                <div class="workingHour">토 |11:30 ~ 17:00</div>' + 
            '                <div class="issues">추천메뉴 | 마파두부면(밥), 토달밥</div>' + 
            '                <div><a href="http://kko.to/Cg5MDzVVK" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 시홍쓰
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            은혜떡볶이' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/은혜떡볶이.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">매일 | 10:30 ~ 22:00</div>' + 
            '                <div class="workingHour">첫째 셋째주 화요일 휴무</div>' + 
            '                <div class="issues">추천메뉴 | 인원수+재료(선택)+볶음밥</div>' + 
            '                <div><a href="http://kko.to/5wbR9khUQ" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 은혜떡볶이
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            행복한 그릇' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/행복한그릇.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">평일 | 11:30 ~ 20:00</div>' + 
            '                <div class="workingHour">브레이크타임 | 14:30 ~ 17:00</div>' + 
            '                <div class="issues">추천메뉴 | 가츠동, 규동, 사케동</div>' + 
            '                <div><a href="http://kko.to/bUGGsIHdd" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 행복한그릇
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            스시붐' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/스시붐.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">매일 | 11:30 ~ 20:30 / 일요일 휴무</div>' + 
            '                <div class="workingHour">브레이크타임 | 15:00 ~ 16:30</div>' + 
            '                <div class="issues">추천메뉴 | 따뜻한 연어 초밥</div>' + 
            '                <div><a href="http://kko.to/CMPoR3GCQ" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 스시붐
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            청와옥 군자직영점' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/청와옥.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">매일 | 08:00 ~ 22:00 / 일요일 휴무</div>' + 
            '                <div class="issues">추천메뉴 | 순대국밥, 편백 정식</div>' + 
            '                <div><a href="http://kko.to/ICY2fohVA" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 청와옥군자직영점
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            피자컴퍼니 군자점' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/피자컴퍼니.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">매일 | 12:00 ~ 24:00</div>' + 
            '                <div class="workingHour">매주 화요일 정기휴무</div>' + 
            '                <div class="issues">추천메뉴 | 갈릭슈림프, 포테이토베이컨</div>' + 
            '                <div><a href="http://kko.to/qlzlyGE3F" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 피자컴퍼니군자점
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            이이요' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/이이요.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">평일 | 11:50 ~ 22:00</div>' + 
            '                <div class="workingHour">브레이크타임 | 14:10 ~ 17:00</div>' + 
            '                <div class="issues">추천메뉴 | 야끼돈부리, 초밥, 카이센동</div>' + 
            '                <div><a href="http://kko.to/fgRpZwUk4" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 이이요
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            오코노미야키식당하나' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/오코노미야키식당하나.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">매일 | 12:00 ~ 23:00 / 화요일 휴무</div>' + 
            '                <div class="workingHour">브레이크타임 | 15:00 ~ 17:00</div>' + 
            '                <div class="issues">추천메뉴 | 야끼소바, 돼지오징어타마</div>' + 
            '                <div><a href="http://kko.to/BAykrz13t" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 오코노미야키식당하나
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            미식반점' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/미식반점.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">평일 | 11:30 ~ 22:00</div>' + 
            '                <div class="workingHour">브레이크타임 | 15:00 ~ 17:00</div>' + 
            '                <div class="issues">추천메뉴 | 탕후루탕수육, 해물볶음짜장</div>' + 
            '                <div><a href="http://kko.to/G9gsLKNnW" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 미식반점
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            스시붐' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/카레당.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">화~금/일 | 11:00 ~ 20:30</div>' + 
            '                <div class="workingHour">브레이크타임 | 15:00 ~ 17:00</div>' + 
            '                <div class="issues">추천메뉴 | 기본카레 + 에그셋트</div>' + 
            '                <div><a href="http://kko.to/dkZ1gUcFu" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 카레당
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            가츠시' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/가츠시.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">매일 | 11:00 ~ 21:30</div>' + 
            '                <div class="issues">추천메뉴 | 소바정식</div>' + 
            '                <div><a href="http://kko.to/rPYKHJbRv" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 가츠시
            '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
            '            뱃놈' + 
            '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="img">' +
            '                <img src="/public/image/석기시대 짜장마을.jpg" width="73" height="70">' +
            '           </div>' + 
            '            <div class="desc">' + 
            '                <div class="workingHour">매일 | 10:00 ~ 20:30</div>' + 
            '                <div class="workingHour">매주 일요일 휴무</div>' + 
            '                <div class="issues">추천메뉴 | 탕수육 + 짜장2 세트</div>' + 
            '                <div><a href="http://kko.to/1QdXNi-e9" target="_blank" class="link">길찾기</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>',//여기까지 석기시대짜장마을
      ]

      let latitudes = [37.5460596, 37.548081, 37.548369, 37.556454, 37.555077, 37.555187, 37.546161, 37.548880, 37.552623, 37.546355, 37.552944]
      let longitudes = [127.0729981, 127.072337, 127.072754, 127.080389, 127.079251, 127.078915, 127.067669, 127.071135, 127.076743, 127.075787, 127.072129]

      //위치좌표 저장할 배열 positions 선언
      var positions = [
        {
          'title': '시홍쓰',
          'lat': 37.5460596, 'lng': 127.0729981
        },
        {
          'title': '은혜떡볶이',
          'lat': 37.548081, 'lng': 127.072337
        },
        {
          'title': '스시붐',
          'lat': 37.548369, 'lng': 127.072754
        },
        {
          'title': '청와옥 군자직영점',
          'lat': 37.556454, 'lng': 127.080389
        },
        {
          'title': '피자컴퍼니 군자점',
          'lat': 37.555077, 'lng': 127.079251
        },
        {
          'title': '이이요',
          'lat': 37.555187, 'lng': 127.078915
        },
        {
          'title': '오코노미야키식당하나',
          'lat': 37.546161, 'lng': 127.067669
        },
        {
          'title': '미식반점',
          'lat': 37.548880, 'lng': 127.071135
        },
        {
          'title': '카레당',
          'lat': 37.552623, 'lng': 127.076743
        },
        {
          'title': '가츠시',
          'lat': 37.546355, 'lng': 127.075787
        },
        {
          'title': '석기시대 짜장마을',
          'lat': 37.552944, 'lng': 127.072129
        },
      ]

      /*locations 배열 만들어 각 음식점 위경도 저장 후, 각 마커별로 지정*/
      //지도에 마커 표시

      for (let i=0; i<positions.length; i++){
        var marker = new kakao.maps.Marker({
          map: map__kakao, position: new kakao.maps.LatLng(positions[i]['lat'], positions[i]['lng'])
        });

        //마커 위에 커스텀오버레이 표시
        var overlay = new kakao.maps.CustomOverlay({
          content: contents[i],
          map: map__kakao,
          position: marker.getPosition()
        });
      }

        //마커를 클릭하면 커스텀오버레이 표시
        kakao.maps.event.addListener(markers, 'click', function() {
          overlay.setMap(map__kakao);
        });

        //커스텀 오버레이 닫기 함수
        function closeOverlay() {
          overlay.setMap(null);     
        }
    </script>
  </body>
</html>
