<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recommend</title>
    <link rel="icon" href="/src/public/image/세종로고-removebg-preview.png" />
  </head>
  <body>
    <section class="recommend">
      <h1 class="recommend_title">오늘의 메뉴 추천!</h1>
      <h3 class="recommend_description">
        뭘 먹어야 할지 고민하는 당신을 위한!<br />
        메뉴 추천 두둥
      </h3>

      <div class="recommend_categories">
        <button class="category__btn">랜덤</button>
        <button class="category__btn">한식</button>
        <button class="category__btn">중식</button>
        <button class="category__btn">일식</button>
        <button class="category__btn">양식</button>
        <button class="category__btn">치킨</button>
        <button class="category__btn">버거</button>
        <button class="category__btn">피자</button>
        <button class="category__btn">분식</button>
        <button class="category__btn">디저트</button>
      </div>

      <div class="recommend_result"></div>

      <button class="get_recommend">추천받기</button>
    </section>
  </body>
</html>
