<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>recommend</title>
    <link rel="icon" href="/src/public/image/세종로고-removebg-preview.png" />
    <link rel="stylesheet" href="/public/css/recommend.css" />
  </head>
  <body>
    <nav class="recommend_navbar">
        <button
        type="button"
        class="btn_left btn"
        id="main"
        onclick="document.location.href='http://localhost:3500/main'"
        >
        <img class="sejong-logo" src="/public/image/하얀세종대로고.png" width="30" height="30" />
        <h3>걸어서 맛집 속으로</h3>
        </button>

      <ul class="navbar_right">
        <li>
          <button
          type="button"
          class="btn_right btn"
          id="categories"
          onclick="document.location.href='http://localhost:3500/food/categories'"
          >
          종류별 맛집들
        </button>
  
        </li>
        

      <li>
        <button
        type="button"
        class="btn_right btn"
        id="map"
        onclick="document.location.href='http://localhost:3500/food/map'"
        >
        가까운 맛집들
        </button>
      </li>
      
      <li>
        <button
        type="button"
        class="btn_right btn"
        id="recommend"
        onclick="document.location.href='http://localhost:3500/food/recommend'"
        >
        오늘의 메뉴 추천
      </button>
      </li>
      
      </ul>
    </nav>

    <section class="recommend">
      <h1 class="recommend_title">오늘의 메뉴 추천!</h1>
      <h3 class="recommend_description">
        뭘 먹어야 할지 고민하는 당신을 위한!<br />
        메뉴 추천 두둥
      </h3>

      <div class="recommend_result">
        <div class="food_info">
          <a href="/food/{{[recoFood._id]}}">
          {{[recoFood.title]}}
        </a>
          <ul class="food_info_upper">
            <img 
            src="/{{[recoFood.foodUrl]}}" , 
            width="150" , height="150" />
            <li>{{[recoFood.description]}}</li>
            <li>{{[recoFood.category]}}</li>
            {% for hashtag in recoFood.hashtags %}
            <ul class="food_info_down">
              <li>{{[hashtag]}}</li>
            </ul>
            {% endfor %}
          </ul>
        </div>
      </div>

      <form action="" method="get">
        <button type="submit" class="get_recommend btn">추천받기</button>
      </form>
    </section>
  </body>
</html>
