<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>search</h1>

    <form method="GET">
      <input placeholder="Search by title" , name="keyword" , type="text" />
      <input type="submit" , value="Submit Now" />
    </form>

    {% for item in foods %}
    <a href="/food/{{[item.id]}}">{{[item.title]}}</a>
    <ul>
      <li>{{[item.description]}}</li>
      {% for hashtag in item.hashtags %}
      <ul>
        <li>{{[hashtag]}}</li>
      </ul>
      {% endfor %}
      <li>{{[item.createdAt]}}</li>
    </ul>
    <hr />
    {% endfor %}
  </body>
</html>
