<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/join.css" />
    <link rel="icon" href="/public/image/세종로고-removebg-preview.png" />
  </head>
  <body>
    <header>
      <div>
        <span>음식 업로드하기</span>
      </div>
    </header>
    <form method="POST" , enctype="multipart/form-data">
      <input
        placeholder="가게 이름을 작성하세요."
        ,
        required,
        type="text"
        ,
        name="title"
      />
      <br />
      <input
        placeholder="음식의 메뉴를 작성하세요"
        ,
        required,
        type="text"
        ,
        name="description"
      />
      <br />
      <input
        placeholder="띄어쓰기 없이 해시태그를 작성하세요."
        ,
        required,
        type="text"
        ,
        name="hashtags"
      />
      <br />
      <input
        placeholder="음식의 종류를 작성하세요 (ex. 한식, 일식)"
        ,
        required,
        type="text"
        ,
        name="category"
      />
      <label for="foodpic" class="upload_food_pic">음식사진 올리기</label>
      <input type="file" , id="foodpic" , name="foodpic" , accept="image/*" />
      <input type="submit" , value="Upload Food" , required />
    </form>

    <footer>
      <div>
        <a href="/main">홈으로 돌아가기</a>
      </div>
    </footer>
  </body>
</html>
