<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/watch.css">
    <link rel="icon" href="/public/image/세종로고-removebg-preview.png" />
    <title>{{[food.title]}}</title>
  </head>

  <body>
    <h1 class = "name">{{[food.title]}}</h1>
    <div>
      <img class = "image"src="/{{[food.foodUrl]}}" , width="100" , height="100" />
      <p id = "menu" >{{[food.description]}}</p>
      <li id="hashtag">{{[food.hashtags]}}</li>
    </div>
    <a class= "edit" href="{{[food._id]}}/edit">edit food</a>
    <a class="delete" href="{{[food._id]}}/delete">Delete food</a>
    <br />
    <a class="home" href="/main">go to home</a>
  </body>
</html>
