<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{[food.title]}}</title>
  </head>
  <body>
    <h1>{{[food.title]}}</h1>
    <ul>
      <img src="/{{[food.foodUrl]}}" , width="100" , height="100" />
      <li>{{[food.description]}}</li>
      <li>{{[food.hashtags]}}</li>
    </ul>
    <a href="{{[food._id]}}/edit">edit food</a>
    <a href="{{[food._id]}}/delete">Delete food</a>
    <br />
    <a href="/main">go to home</a>
  </body>
</html>
