@font-face {
  font-family: "EliceDigitalBaeum-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "EliceDigitalBaeum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* font setting */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EliceDigitalBaeum";
  margin: 10px auto;
}

/* navbar */
.section__navbar {
  display: flex;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
  margin: auto;
  max-width: 90%;
  border-bottom: 3px solid black;
  overflow-x: auto;
}

button {
  background-color: white;
  border: 0;
}

button:hover {
  color: #ba0c2f;
  border: 1px solid #ba0c2f;
  padding: 0px 5px;
  cursor: pointer
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.navbar__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 25px;
}

h2 {
  font-size: 25px;
}

/* main */
#main {
  margin: 0 auto;
  width: 90%;
}
/* line */
.section__line {
  float: left;
  width: 30.4%;
  height: 600px;
  overflow-y: scroll;
  overflow-x: auto;
}

.food__img {
  width: 120px;
  height: 120px;
  margin: 20px 0px 10px 7%;
}

h3 {
  font-size: 18px;
  color: #ba0c2f;
}

h4 {
  font-size: 13px;
}

strong {
  color: gold;
}

.food__title {
  width: 86%;
  height: 12%;
  margin: 10px 7%;
}

#title__link {
  text-decoration: none;
}

h3:hover {
  color: #fdd262;
}

.food__menu {
  width: 86%;
  height: 8%;
  margin: 5px 7%;
}

h5 {
  font-size: 12px;
  color: #53565a;
}

.food__hashtag {
  width: 86%;
  height: 8%;
  margin: 5px 5%;
  padding: 0px 2% 10px;
}
.food__hashtag:last-child {
  border-bottom: 3px solid black;
}

#last__hashtag {
  border: 0;
}

/* map */
.section__map {
  float: right;
  width: 67.6%;
  height: 600px;
  margin: 1%;
}

#view__map {
  width: 500px;
  height: 400px;
}

#sjumap {
  width: 750px;
  height: 430px;
  margin: 10px 30px 10px 20px;
}

/* homekey */
.homekey {
  position: fixed; 
  right: 2%; bottom: 5%;
  width: 20px;
  height: 10px;
}

#home__link {
  text-decoration: none;
  color: black;
}

p:hover {
  color: #ba0c2f;
}
