@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root{
    /*color*/
    --color-sejong-red: #ba0c2f;
    --color-sejong-ivory: #f1f0d8;
    --color-sejong-yellow: #fdd262;
    --color-sejong-gray: #53565a;

    /* Font size */
    --font--large:48px;
    --font--medium:28px;
    --font--regular:18px;
    --font--small:16px;
    --font-micro:14px;
    }
    
    /* Universal tags */
    *{
        box-sizing: border-box;
        margin: 0;

        cursor: default;
    }

    /*Home 버튼 */

    .home{
        width: 200px;
        height: 75px;
        padding : 10px;
        background-color: var(--color-sejong-red);
        
        
        font-family: 'EliceDigitalBaeum';
        color: aliceblue;
        text-align: center;
        

        border: white;


        cursor: pointer;
        margin-top: 0%;

    }

    /* Home 버튼 글자 */
    button>h3{
        color: white;
        margin: 0%;
        cursor: pointer;
    }

    button>p{
        cursor: pointer;
        
    }
    /* 오늘의 메뉴 추천 */
    .recommend_title{
        padding: 20px 0px;
        border-top: 2px solid var(--color-sejong-gray);
        border-bottom: 2px solid var(--color-sejong-gray);
    }
    /* main 정렬 */
    section{
        text-align: center;
    }

    /* description 색상,글꼴 */
    h3{
        color: var(--color-sejong-gray);
        font-family: 'EliceDigitalBaeum';

        margin: 20px;
    }

    /* 추천 container */
    .recommend_categories{
        margin: 40px;
        padding: 20px;
        text-align: center;
        border-top: 2px solid black;
        border-bottom: 2px solid black;

    }

    /* 랜덤추천 결과창 */
    .recommend_result{
        width: 400px;
        height: 400px;
        border-radius: 20%;
        background-color: var(--color-sejong-ivory);

        margin: auto;
        margin-top: 20px;
    }
    
    /* 추천 받기 버튼 */
    .get_recommend{
        width: 450px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: var(--color-sejong-red);
        
        margin-top:20px;
        
        font-size: var(--font--regular);
        font-family: 'EliceDigitalBaeum-Bd' ;
        color: white;
    }

    /* 추천 받기 버튼 클릭 */
    button:hover{
        cursor: pointer;
    }