@font-face {
  font-family: "EliceDigitalBaeum-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EliceDigitalBaeum";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding : 0;
}

nav{
  background-color: #f1f0d8;
}
.button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
  border-right: 1px solid black;
  margin : 10px 0 0 0;
}
.buttont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: inline-block;
}

button{ 
  position: relative;
  margin: 30px 90px 30px 90px ;
  background-color: #f1f0d8;
  border: none;
  font-family: 'EliceDigitalBaeum';
  font-weight: bold ;
  font-size: 20px;
}

.bottom{
  border-bottom : 1px solid black;
  margin : 20px 0 0 0 ; 
}

button:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #ba0c2f ;
}
button:hover:after{
  width: 100%;
  opacity: 1;
}

.name{

  font-family: "EliceDigitalBaeum-Bd";
  text-decoration: none;
  color:#ba0c2f;
  font-size : 40px;
}

.name:hover{
  color: #fdd262;

}

.image{
  margin-top:5px;
  width : 300px;
  height: 300px;
  border: solid;

}

p{
  margin-top: 10px;
  font-family: "EliceDigitalBaeum";
  margin-bottom: 7px;
}

li{
  font-family: "EliceDigitalBaeum";
  font-weight: 600;
  color: #fdd262;
  margin-bottom: 20px;
}

h4{
  font-family: "EliceDigitalBaeum";
}